.listItem {
  background-color: #404040;
  border-radius: 24px;
  padding: 16px;
  margin-block-end: 4px;
  margin-inline: 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.listItem:last-child {
  margin-block-end: 0;
}

.listItem::before {
  counter-increment: section;
  content: counters(section, ".") " ";
  font-size: 18px;
  line-height: 24px;
}

.title {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(122.98deg, #a6e439 0%, #1db9d4 100%);
}
