* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fff 6.1%, #f7f7f7 68.7%);
  height: 100vh;
}

.App {
  text-align: center;
}

.section {
  margin-bottom: 32px;
}

.block_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 300px;
  overflow-x: scroll;
}